{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "standard",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:security/recommended",
    "prettier/react"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks", "jsx-a11y", "security"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "off"
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
