@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Italic'), url('../assets/fonts/ProductSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Light Regular'),
    url('../assets/fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Medium Regular'),
    url('../assets/fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Bold'), url('../assets/fonts/ProductSans-Bold.woff') format('woff');
}
